# Maven
target/
*.class

# Built-in Maven Wrapper
.mvn/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Tool-specific
.claude/
.gemini/

# Project Specific
# data/
src/main/resources/static/assets/
src/main/resources/static/index.html

# Local config
application-local.properties
