.spinner {
  display: inline-block;
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--primary-color, #333) transparent transparent transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small .circle {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
}

.medium .circle {
  width: 2rem;
  height: 2rem;
  border-width: 3px;
}

.large .circle {
  width: 3rem;
  height: 3rem;
  border-width: 4px;
}
